<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 	<bean id="actorDao" class="com.jcomdot.simplemvc.ActorDaoJdbc"> -->
<!-- 		<property name="dataSource" ref="dataSource"></property> -->
<!-- 	</bean> -->

	<bean id="userDao" class="com.jcomdot.simplemvc.UserDaoJdbc">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

<!-- 	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource"> -->
<!-- 		<property name="driverClass" value="org.postgresql.Driver"></property> -->
<!-- 		<property name="url" value="jdbc:postgresql://localhost/pagila"></property> -->
<!-- 		<property name="username" value="postgres"></property> -->
<!-- 		<property name="password" value="fkfkvhxm"></property> -->
<!-- 	</bean> -->

	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="org.postgresql.Driver"></property>
		<property name="url" value="jdbc:postgresql://localhost/testdb"></property>
		<property name="username" value="spring"></property>
		<property name="password" value="test"></property>
	</bean>
</beans>
